{% extends "park/base.html" %}
{% block content %}
<style type="text/css">
#map { height: 82%; }
#wrapper { position: relative; }
#loading {
  position: absolute; z-index: 99; opacity: .5;left:0;
  right:0;
  margin:20 auto;
}
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

</style>
<div class="row">
  <div class="col-md-3">
    <h4 id="address_name" class="page-header" style="padding-left: 2%; margin-top: 7px;">
      Spots <label class="badge">{{spot_count}}</label>
    </h4>
  </div>
  <div class="col-md-9">
    <form name="searchForm" action="/park" method="GET" role="search" style="padding-left: 10px;padding-right: 10px;">
      <div class="form-group">
        <div class="input-group">
      <input id="searchBox" name="search" type="text" class="form-control input-lg" placeholder="Search an address for spots near by">
      <input type="text" style="display: none;" />
      <span class="input-group-btn">
        <button id="searchButton" class="btn btn-success" type="button"><span class="glyphicon glyphicon-search" style="padding-right:5px;"></span> Search</button>
        <input id="lat" name="lat" type="hidden">
        <input id="lng" name="lng" type="hidden">
      </span>
    </div><!-- /input-group -->
      </div>
    </form>
  </div>
</div>
<div class="col-md-3">
  <div class="list-group card" style="margin-left: 0px; width: 100%;">
    {% for spot in spots %}
    <a class="list-group-item" href="/" style="width:100%; margin-left: 0px;"><h4>{{spot.address}}</h4></a>
    {% empty %}
    <a class="list-group-item"><h5> No spots found in the given radius. </h5></a>
    {% endfor %}
  </div>
</div>
<div class="col-md-9">
<div class="wrapper">
  <img id="loading" class="img-responsive" src="https://themarketingoak.files.wordpress.com/2015/07/circle-loading-animation.gif">
  <div id="map"></div>
</div>
</div>
<input id="address_value" type="hidden" value="{{search}}">
<script type="text/javascript">

var map;
function initMap() {
  if (navigator.geolocation && !$('#address_value').val()) {
    navigator.geolocation.getCurrentPosition(showPosition);
    $("#loading").show();
  }
  else if (!$('#address_value').val()){
    alert("Geolocation is not supported by this browser.");
  }
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: {lat: 37.7749295, lng: -122.4194155}
  });
  map.infowindow = new google.maps.InfoWindow();
  var geocoder = new google.maps.Geocoder();
  if($('#address_value').val()){
    $('#searchBox').val($('#address_value').val());
    geocodeAddress(geocoder, map);
    $("#loading").hide();
  }


  document.getElementById('searchBox').addEventListener('keypress', function(e) {
    var key = e.which || e.keyCode;
    if (key === 13) { // 13 is enter
      // code for enter
      submitForm();
    }
  });

}
function showPosition(position) {
  gMap = new google.maps.Map(document.getElementById('map'));
  gMap.setZoom(15);      // This will trigger a zoom_changed on the map
  gMap.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
  $("#loading").hide();
}

function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('searchBox').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
      addSpots(resultsMap);
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

function geocodeCustom(address){
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      $("#Lat").val(results[0].geometry.location.lat());
      $("#Lng").val(results[0].geometry.location.lng());
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

function addSpots(resultsMap){
  {% for spot in spots %}
  var contentString = '<div id="content">'+
  '<div id="siteNotice">'+
  '</div>'+
  '<h4 id="firstHeading" class="page-header">{{spot.address}}</h4>'+
  '<div id="bodyContent">'+
  '<h5>Distance: 2.5 Miles</h5>' +
  '<h5>Price: $5.00</h5>' +
  '<h5>Seller Rating: 4.5</h5>' +
  '<h5>Spot Rating: 3.5</h5>' +
  '<h5>Available Until: 7:30 PM</h5>' +
  '<br/><button class="btn btn-lg btn-success" style="width: 100%;"> Reserve Spot</button>' +
  '</div>'+
  '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  var marker = new google.maps.Marker({
    map: resultsMap,
    icon: "https://s3-us-west-2.amazonaws.com/upspot/icon_parking_info.png",
    position: new google.maps.LatLng({{spot.location.y}}, {{spot.location.x}})
  });
  marker.content = contentString;
  marker.addListener('click', function() {
    resultsMap.infowindow.setContent(this.content);
    resultsMap.infowindow.open(resultsMap,this);
    // infowindow.open(resultsMap, this);
    // resultsMap.setCenter(this.position);
  });
  {% endfor %}

}


// Set up click listener on search button.
$( document ).ready(function() {
  $("#searchButton").click(function() {
     submitForm();
  });
});
// This function delays the sending the form until it is geocoded.
function geocodeForm(geocoder, address, callback){
   geocoder.geocode({ 'address': address }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            // Call the callback function instead of returning

            callback(results);
        } else {
            callback("Could not find address");
        }
    });
}

function submitForm(){
  address = $("#searchBox").val();
  if(address){
  geocoder = new google.maps.Geocoder();
    geocodeForm(geocoder, address, function(results) {
        // This function gets called by the geocodeCodeForm function on success
        $("#lat").val(results[0].geometry.location.lat());
        $("#lng").val(results[0].geometry.location.lng());
        document.searchForm.submit();
    });
  }
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfOs1dFoBHGmWzp93za9hYSLEWy7YUoDE&callback=initMap">
</script>
{% endblock %}
